.content {
  margin: 2px;
}

.contentcontainer {
  overflow: auto;
  height: 80vh;
}

:host {
  display: flex;
  flex-grow: 1;
  background-color: white;
  border: grey;
  border-style: dotted;
  border-width: 2px;
  padding: 5px 10px 5px 10px;
}

h1 {
  margin: 0;
}

mat-card {
  /* background-color:darkgrey; */
  padding: 4px;
  color: grey;
}

.mat-standard-chip:hover::after {
  opacity: .5;
}

.mat-chip.mat-standard-chip::after {
  background: initial;
}

.mat-chip.mat-standard-chip {
  background-color: white;
  border-width: 1px;
  border-color: #f58220;
  font-size: smaller;
  min-height: 20px;
  border-style: solid;
}

.mat-chip.mat-standard-chip:hover {
  color: white;
  background-color: #f58220;
}
