.navcontainer {
  overflow: auto;
  height:100vh;
  min-width:40vh;
  max-width:70vh;
  direction:rtl; 
  /* background-color: beige; */
}
.content {
  direction:ltr; 
}
.nodelink  {
  padding: 2px 5px 2px 5px;
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(3px 2px 2px rgba(0, 0, 0, 0.2));
  border-radius: 5px;
  border-color:transparent;
}

.nodelink:hover {
  border-color:rgba(255, 166, 0, 0.424);
}
mat-tree {
  background: transparent;
}

.mat-tree-node {
  min-height:fit-content !important;
}
.mat-icon-button {
  width: 30px;
  height: 30px;
  line-height: 0px;
  color:orange;
}